.screen__iphone {
  border: solid 4px black ;
  border-radius: 35px;
  height: 640px;
  width: 320px;
  box-sizing: border-box;
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
}