.app__main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.app__weather {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  grid-area: a;
  background: linear-gradient(rgb(1, 77, 135), rgb(136, 181, 218));
}

.app__weather--name {
  font-size: 10px;
  color: white;
  text-align: center;
}

.weather__location {
  font-size: 14px;
}

.weather__temperature {
  margin-top: 4px;
  font-size: 35px;
  font-weight: 200;
}

.weather__description {
  margin-top: 5px;
  font-size: 12px;
}

.weather__hl {
  font-size: 12px;
}

.weather__dot {
  align-self: center;
  margin-top: -32px;
  margin-left: -13px;
}

.weather__icon {
  align-self: center;
  margin-top: 24px;
  margin-left: -70px;
}

.app__calender {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  background-color: white;
  text-align: center;
}

.app__calender--name {
  font-size: 10px;
  color: white;
  text-align: center;
}

.calender__day {
  margin-top: 4px;
  color: red;
  font-size: 11px;
  font-weight: 600;
}

.calender__date {
  font-size: 30px;
  font-weight: 300;
}

.app__notes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr repeat(3, 1fr);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  background-color: white;
  text-align: center;
  grid-area: c;
}

.notes__line:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(246, 246, 32);
  border-bottom: solid 1px gray;
  width: 100%;
}

.notes__line:nth-child(2) {
  border-bottom: dotted 1px gray;
  opacity: 0.7;
  width: 100%;
}

.notes__line:nth-child(3) {
  border-bottom: solid 1px gray;
  width: 100%;
}

.notes__line:nth-child(4) {
  border-bottom: solid 1px gray;
  width: 100%;
}

.app__notes--name {
  font-size: 10px;
  color: white;
  text-align: center;
  width: 100%;
}

.app__books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  background-color: orange;
}

.item__name {
  font-size: 8px;
  color: white;
  text-align: center;
}

.app__store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  background-color: skyblue;
}
