.screen__main {
  display: grid;
  padding: 15px 10px 10px 21px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px;
  grid-template-areas:
    'a a b c'
    'a a d f'
    'g h i j'
    'k l m n'
    'o p q r'
    'z z z z'
    's s s s'
    't u v w';
}

* {
  box-sizing: border-box;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-weight: bold;
}

.color {
  background-color: aquamarine; 
}

.item {
  height: 50px;
  width: 50px;
}

.item1 {
  grid-area: a;
  height: 120px;
  width: 125px;
}

.item6 {
  width: 272px;
  height: 80px; 
  grid-area: s;
}